.monte {
    padding-top: 15px;
}
.container {
    padding-bottom: 10px;
    padding-top: 150px;
}
.contato{
    padding-left: 10px;
}
.separador {
    border: 1px solid black;
    width: 20%;
    margin-bottom: 10px;
    
}

.texto {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace
}