<div class="container">
    <img class="galeria" width="150px" src="pr-alessandro.jpg" alt="foto">
    <img class="galeria" width="150px" src="louvor.jpg" alt="foto">
    <img class="galeria" width="150px" src="adoracao.jpg" alt="foto">
    <img class="galeria" width="150px" src="adoracao2.jpg" alt="foto">
    <img class="galeria" width="150px" src="adoracao3.jpg" alt="foto">
    <img class="galeria" width="150px" src="foto.jpg" alt="foto">
    <img class="galeria" width="150px" src="adoracao4.jpg" alt="foto">
    <img class="galeria" width="150px" src="pregacao.jpg" alt="foto">
    <img class="galeria" width="150px" src="culto.jpg" alt="foto">
    <img class="galeria" width="150px" src="adoracao5.jpg" alt="foto">
    <img class="galeria" width="150px" src="oracao.jpg" alt="foto">
</div>
