header{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
}

.rotas {
    color: white;
    text-decoration: none;
}

.rotas:hover{
    text-decoration: underline red;
}

  

  
footer{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 16, 16);
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.endereco {
    display: flex;
    flex-direction: column;
}

.sociais {
    color: white;
}

.horario{
    color: white;
}

