header {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

header img.logo {
  max-width: 100%;
  height: auto;
}

header .icon {
  color: white;
  font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

header a.rotas {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.menu {
  display: contents;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  header a.rotas {
    padding: 5px 10px;
  }
  .sociais {
    display: none;
  }
}

.rotas {
    color: white;
    text-decoration: none;

}

.rotas:hover{
    text-decoration: underline red;
}

  

  
footer{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 16, 16);
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.endereco {
    display: flex;
    flex-direction: column;
}

.sociais {
    color: white;
}

.horario{
    color: white;
}

