<header>
    <img class="logo" width="100px" src="logo.jpg" alt="logo">
    <a class="rotas" href="/">Home</a>
    <a class="rotas" href="/culto">Culto</a>
    <a class="rotas" href="/galeria">Galeria</a>
    <a class="rotas" href="/testemunho">Testemunhos</a>
    <!-- <a class="rotas" href="/horario">Horarios</a> -->
    <a class="rotas" href="/contato">Contatos</a>    
  </header>

   
      <router-outlet />


 <footer>
   <div class="container">
    <div class="endereco">
      <h4 class="text-center">Endereço</h4>
      <p>Travessa Mineira, 21, Nova Iguaçu, RJ, Brazil, 26290190</p>
    </div>
     
    <div class="sociais">
      <h4>Sociais</h4>
      <a href="mailto:ccrfni.rompendoemfe@gmail.com">
        <img width="20px" src="email.svg" alt="email">
    </a>
     <a href="https://www.facebook.com/ccrfni.rompendoemfe">
        <img width="20px" src="facebook.svg" alt="facebook">
     </a>
    <a href="https://www.instagram.com/comunidade_crf/">
        <img width="20px" src="instagram.svg" alt="instagram">
    </a>
    </div>
    <div class="horario">
      <h4 class="text-center">⬜Cultos</h4>
      <p>
        📍DOM -09H E 18H30
        📍TER - 08H CONSAGRAÇÃO
        📍TER - 19H30
      </p>
    </div>
  </div>
</footer>
<div class="copyright text-center " style="background-color: black; color: white;">
  Copyright       2022. All Rights Reserved. 
</div>