header{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.rotas {
    color: white;
    text-decoration: none;
}

.rotas:hover{
    color:red;
}

.fundo {
    background-image: url("../assets/images/fundo.jpg");
    background-size: cover; /* Ajuste conforme necessário */
    background-position: center;
    opacity: 1.5;
    width: 100%;
    height: 100vh; /* Ajuste conforme necessário */
  }
footer{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.endereco {
    display: flex;
    flex-direction: column;
}

.sociais {
    color: white;
}

.horario{
    color: white;
}