<div class="container">

    <h2 class="titulo">Nossa História</h2>
    <div class="separador"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quam ab, illum magni molestiae exercitationem cum qui sed ut iste, dolorum deserunt magnam repudiandae recusandae veniam totam sapiente nobis pariatur!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos voluptatum tempora debitis id molestiae deleniti laudantium mollitia dicta, officia rem ipsa a aperiam reprehenderit perspiciatis nesciunt cumque illum neque esse!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex delectus nobis nulla voluptate eius minus doloremque id! Dignissimos odit aspernatur iure veritatis voluptates maiores, deleniti, tempora sed, minus amet est.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae adipisci provident temporibus assumenda hic eius, mollitia neque quis, consectetur, delectus sint incidunt dolorum molestias pariatur reprehenderit minima autem magni! Recusandae.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, minus. Mollitia dolor omnis dolore quaerat ullam sequi enim fugiat voluptates suscipit itaque nulla unde aliquid, fugit libero excepturi, doloribus est.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quod, distinctio quia quo consectetur voluptatem excepturi impedit asperiores totam illum cum molestias, nisi assumenda perferendis fugit error laborum dolorum voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sunt nulla saepe possimus incidunt totam vero, suscipit optio illo quo dolor commodi? Nam mollitia tempora sapiente voluptatem perspiciatis necessitatibus sed.</p>
    <h2 class="titulo">REDE SOCIAIS E E-MAIL</h2>
    <div class="separador"></div>
    <div class="sociais">
        <a href="mailto:ccrfni.rompendoemfe@gmail.com">
          <img width="50px" src="email.svg" alt="email">
      </a>
       <a href="https://www.facebook.com/ccrfni.rompendoemfe" target="_blank">
          <img width="50px" src="facebook.svg" alt="facebook">
       </a>
      <a href="https://www.instagram.com/comunidade_crf/" target="_blank">
          <img width="50px" src="instagram.svg" alt="instagram">
      </a>
      </div>
</div>