<main class="fundo">
    <img class="fundo" src="fundo.jpg" alt="fundo">
</main>
<aside>
    <div class="container" *ngFor="let mensagemdodia of mensagem">
        <h2 class="text-center">{{mensagemdodia.titulo}}</h2>
        <p>{{mensagemdodia.descricao}}</p>
    </div>
</aside>
<div class="relogio d-flex flex-column animate__animated animate__fadeIn">
    <div class="horario">
        <img width="150px" class="text-center" src="relogio.png" alt="relogio" >
        <h2>NOSSOS HORARIOS</h2>
          <p>CULTO DA MANHA DOMINGO - 09h</p>
          <p>CULTO DA NOITE DOMINGO - 18:30h</p>
          <p>CULTO DE CONSAGRAÇÃO PELA MANHA TERÇA - 08h</p>
          <p>CULTO DA NOITE TERÇA - 19:30h</p>
      </div>
</div>
