.img-fluid{
    padding-top: 15px;
}

.link {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 20px;
}

/* Ajuste para telas menores */
@media (max-width: 1200px) {
    .link {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .link {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .link {
        width: 100%;
        height: 100hv; /* Ajuste a altura para conteúdo variável */
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .link {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.container.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
