<main class="fundo">
 
    <img class="img-fluid "  src="cultos.jpg" alt="fundo">
  
</main>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngIf="culto.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let cultos of culto.slice(0, 3)">
            <iframe class="link" [src]="cultos.link" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngFor="let group of culto.slice(3) | chunk: 3">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let cultos of group">
            <iframe class="link" [src]="cultos.link" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

