.img-fluid{
    padding-top: 15px;
    width: 100%;
}

.link {
    padding-top: 20px;
    /* display: block;
    margin: 0 auto; */
    width: 100%;
    height: 300px;
    /* padding-bottom: 20px; */
    transition: all 0.3s ease;
}
/* Estilo para o vídeo expandido
.modal-dialog {
    max-width: 80%;
    width: 100%;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.expanded-video {
    width: 100%;
    height: 80vh;
} */
.fundo {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.video-left {
    animation: slideInLeft 1.5s ease-in-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.video-middle {
    animation: slideInTop 1.5s ease-in-out;
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.video-right {
    animation: slideInRight 1.5s ease-in-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.video-wrapper {
    position: relative;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url('/path/to/play-icon.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-content {
    position: relative;
    width: 80%;
    height: 80%;
}

.overlay-iframe {
    width: 100%;
    height: 100%;
}

.video-left,
.video-middle,
.video-right {
    /* Definindo um estilo base comum */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

.video-left {
    animation: slideInLeft 1s ease-out forwards;
}

.video-middle {
    animation: slideInTop 1s ease-out forwards;
}

.video-right {
    animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Ajuste para telas menores */
@media (max-width: 1200px) {
    .link {
        width: 90%;
    }
    .video-left,
    .video-middle,
    .video-right {
        /* Ajusta animações e transições para telas menores */
        animation: none;
        transition: none;
        transform: none;
        opacity: 1;
    }
   
    .overlay-iframe{
        width: 100%;
        
    }
    .overlay-content {
        position: none;
        width: 100%;
        height: 35%;
    }
}

@media (max-width: 992px) {
    .link {
        width: 100%;
    }
    .video-left,
    .video-middle,
    .video-right {
        /* Ajusta animações e transições para telas menores */
        animation: none;
        transition: none;
        transform: none;
        opacity: 1;
    }
    .video-wrapper{
        position: none;
    }
    .overlay-iframe{
        width: 100%;
        
    }
    .overlay-content {
        position: none;
        width: 100%;
        height: 35%;
    }
}

@media (max-width: 768px) {
    .link {
        width: 100%;
        height: 300px; /* Ajuste a altura para conteúdo variável */
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .expandi {
        display: none;
    }
    .video-left,
    .video-middle,
    .video-right {
        /* Ajusta animações e transições para telas menores */
        animation: none;
        transition: none;
        transform: none;
        opacity: 1;
    }
    .video-wrapper{
        position: none;
    }
    .overlay-iframe{
        width: 100%;
        
    }
    .overlay-content {
        position: none;
        width: 100%;
        height: 35%;
    }
}

@media (max-width: 576px) {
    .link {
        width: 100%;
        height: 300px; /* Ajuste a altura para conteúdo variável */
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .expandi {
        display: none;
    }
    /* Ajusta a exibição para empilhar verticalmente */
    .container .row {
        display: block;
    }

    .container .col-md-4 {
        width: 100%;
        margin-bottom: 15px;
    }
    .video-left,
    .video-middle,
    .video-right {
        /* Ajusta animações e transições para telas menores */
        animation: none;
        transition: none;
        transform: none;
        opacity: 1;
    }
    .video-wrapper{
        position: none;
    }
    .overlay-iframe{
        width: 100%;
        
    }
    .overlay-content {
        position: none;
        width: 100%;
        height: 35%;
    }
}