.img-fluid{
    padding-top: 15px;
}

.link {
    padding-top: 20px;
    /* display: block;
    margin: 0 auto; */
    width: 100%;
    height: 300px;
    /* padding-bottom: 20px; */
    transition: all 0.3s ease;
}

/* Ajuste para telas menores */
@media (max-width: 1200px) {
    .link {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .link {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .link {
        width: 100%;
        height: 300px; /* Ajuste a altura para conteúdo variável */
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .expandi {
        display: none;
    }
}

@media (max-width: 576px) {
    .link {
        width: 100%;
        height: 300px; /* Ajuste a altura para conteúdo variável */
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .expandi {
        display: none;
    }
    /* Ajusta a exibição para empilhar verticalmente */
    .container .row {
        display: block;
    }

    .container .col-md-4 {
        width: 100%;
        margin-bottom: 15px;
    }
}

/* Estilo para o vídeo expandido
.modal-dialog {
    max-width: 80%;
    width: 100%;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.expanded-video {
    width: 100%;
    height: 80vh;
} */
.fundo {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.video-left {
    animation: slideInLeft 1.5s ease-in-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.video-middle {
    animation: slideInTop 1.5s ease-in-out;
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.video-right {
    animation: slideInRight 1.5s ease-in-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
