<main class="fundo">
 
    <img class="img-fluid "  src="cultos.jpg" alt="fundo">
  
</main>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngIf="culto.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let cultos of culto.slice(0, 3)">
            <div class="video-thumbnail" (click)="openModal(cultos.link)">
              <iframe class="link" [src]="cultos.link"  allowfullscreen></iframe>
              <div class="d-flex justify-content-center align-content-center">
                <img width="30px" src="https://www.svgrepo.com/show/374876/expand.svg" alt="click aqui para expandir o video">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" *ngFor="let group of culto.slice(3) | chunk: 3">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let cultos of group">
            <div class="video-thumbnail" (click)="openModal(cultos.link)">
              <iframe class="link" [src]="cultos.link"  allowfullscreen></iframe>
              <div class="d-flex justify-content-center align-content-center">
                <img width="30px" src="https://www.svgrepo.com/show/374876/expand.svg" alt="click aqui para expandir o video">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Modal -->
<div *ngIf="expandedVideo" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe class="expanded-video" [src]="expandedVideo"  allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


